

/*estilos gerais*/
body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    
}

.limite{
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 10px 6%;
}


/*Cabeçalho*/
.logo{
    display: flex;
    width: 90%;
    align-items: center;
    margin-top: -18px ;
    
}
.logo h1{
  
    color: blueviolet;
    font-size: 25px;
    font-weight: 100;
}
.logo img{
    width: 30px;
    height: 30px;
    padding: 0px 20px;
}
 

/*topo*/

.background{
    background-image: url('../imagens/bahia.jpg');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    
}
.topo{
    width: 100%;
    height: 100vh;
}
 /*Subtitulo do formulario*/
 .subtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4vh;
    gap: 20px;
    
    background-color: blueviolet;
 }
.subtitulo img{
    width: 25px; 
}

.subtitulo h2{
    font-size: 17px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    text-shadow: 0px 1px rgb(63, 53, 53);
}

/*Formulario*/
.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    height: 90%;
    margin: 80px auto;
    background-color: #ffffff;
 }

 .conteudo-formulario{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    
 }
.conteudo-formulario h2{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
    color: #000000;
    padding: 0px 20px;
}

    
label{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Heebo', sans-serif;
    color: #0a0808b9;
    padding: 5px 0px;
}
input{
    width: 100%;
    height: 35px;;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    font-family: 'Heebo', sans-serif;
}
form div{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}
.flex2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
    margin-top: -10px;
   
}

.flex2 input{
    font-family: 'Heebo', sans-serif;
    width: 500px;
    height: 35px;
    margin-left: -16px;
   
}
.flex2 select{
    max-width: 500px;
    width: 500px;
    font-family: 'Heebo', sans-serif;
    margin-left: -16px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 5px;
}
.flex2 label{
    margin-left: -15px;
    font-size: 20px;
    font-weight: 100;
    color: #0a0808b9;
    font-family: 'Heebo', sans-serif;
    

}
div p{
    font-size: 20px;
    margin-top: 5px;
    font-weight: 100;
    color: #0a0808b9;
    font-family: 'Heebo', sans-serif;
   
}
.flex3{
    display: flex;
    flex-direction: row-reverse;
    width: 120px;
    gap: 10px;
    margin-top: -35px;
}
.flex3 input{
    width: 15px;
    margin-left: 18px;
    height: 32px;
    
    
}
.flex3 label{
    margin-left: -8px;
    margin-top: 0px;
    font-size: 17px;
    font-weight: 100;
    color: #0a0808b9;
    font-family: 'Heebo', sans-serif;
}
.flex4{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: -39px;
    margin-top: -35px;
    justify-content: space-evenly;
    
}
.flex4 input{
    width: 18px;
    margin-left: -10px;
    
    
    
   
   
}
.flex4 label{
    margin-left: -40px;
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: #0a0808b9;
      
}
/*botao*/

.botao{
    width: 190px;
    padding-top: 15px;
   
}

.botao button {
    background-color: blueviolet;
    width: 190px;
    height: 35px;
    color: #f0f8ff;
    font-size: 17px;
    font-family: 'Heebo', sans-serif;
    border: none;
    
    transition: 0.5s;
}
.botao button:hover{
    background-color: rgb(80, 31, 126);
    cursor: pointer;
    box-shadow:0px 1px 5px 0px black ;
}

/*CONTEUDO DE OFERTAS*/
main{
    margin-top: -30px;
}
/*TITULO OFERTAS*/
.titulo-conteudo h3{
    font-size: 24px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
/*PARAGRAFO OFERTAS*/
.titulo-conteudo p{
  color: #0a0808b9;
  margin-top: -10px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
    
}
/*CONTAINER DO RIO DE JANEIRO*/
.container-rj{
    display: flex;
    width: 50%;
    margin: 15px auto;
    justify-content: flex-start;
}
/*DEFININDO TAMANHO DA IMAGEM DO RIO DE JANEIRO*/
.rjimg img{
    width: 560px;
    height: 410px;
    margin-top: -10px;
   
} 
/*ESCRITA DENTRO DA IMAGEM DO RIO DE JANEIRO*/
.container-rj small{
    position: relative;
    bottom: 28px;
    font-family: 'Roboto', sans-serif;
    padding: 0px 10px;
    font-size: 19px;
    display: flex;
    width: 538px;
    font-weight: 200;
    color: white;
    background-color:  #0f0e0eb9;
}
/*CONTAINER DAS QUATROS IMAGENS DA DIREITA*/
.container-img{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}  
    
/*LARGURA DAS QUATRO IMAGENS DENTRO DO CONTAINER*/
.container-img img{
    width: 240px;
    padding: 10px;
    margin: 0 auto;
    height: 180px;
}
    /*ESCRITAS COM NOME DA CIDADE DENTRO DE CADA CARD DAS QUATROS IMAGENS*/
.container-img small{
    position: relative;
    bottom: 38px;
    font-family: 'Roboto', sans-serif;
    left: 10px;
    display: flex;
    width: 220px;
    font-size: 19px;
    padding: 0px 10px;
    font-weight: 200;
    color: white;
    background-color:  #0f0e0eb9;
}
/*TITULO EXPLORE A NATUREZA*/

.titulo-conteudo2 h3{
    font-size: 24px;
    margin-top: -25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
/*PARAGRAFO EXPLORE A NATUREZA*/
.titulo-conteudo2 p{
    color: #0a0808b9;
    margin-top: -10px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
      
  }
/*CONTAINER CARD1*/
.card1{
    display: flex;
    width: 55%;
    margin: 15px auto;
    flex-direction: column;
    justify-content: flex-start
}

/*TAMANHO DA IMAGEM LENÇOL*/
.img-lencol img{
    width: 560px;
    height: 380px;
    margin-top: -10px; 
}

/*CONTAINER DO SEGUNDO CARD*/

.card2{
    display: flex;
    width: 48%;
    flex-direction: column;
    margin: 15px auto;
    justify-content: flex-end;
}

/*TAMANHO DA IMAGEM GOIAS*/

.img-goias img{
    width: 520px;
    height: 380px;
    margin-top: -10px;
}

/*ESPECIFICAÇÕES CARDS*/

.card1 .esp{
    background-color: #ffffff;
    width: 560px;
    box-shadow: #d3d9df 0px 1px 2px 2px;
    height: 100px;

}

/*FONTES E ESPAÇAMENTIOS LETRAS DO CARD*/
.card1 .esp h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    padding: 0px 15px;
    font-weight: 400;
}
.card1 .esp p{
    font-size: 17px;
    padding: 0px 15px;
    margin-top: -20px;
}

/*ESPECIFICAÇÕES CARD 2*/

.card2 .esp{
    background-color: #ffffff;
    width: 520px;
    box-shadow: #d3d9df 0px 1px 2px 2px;
    height: 100px;

}

/*FONTES E ESPAÇAMENTIOS LETRAS DO CARD*/
.card2 .esp h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    padding: 0px 15px;
    font-weight: 400;
}
.card2 .esp p{
    font-size: 17px;
    padding: 0px 15px;
    margin-top: -20px;
}


/*FOOTER*/

/*BACKGROUND ROXO*/
footer{
    background-color: blueviolet;
    width: 100%;
   
}

/*TITULO*/
.contato{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: flex-start;
}
.contato h3{
    font-size: 24px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
/*ICONES*/
.contato img{
    width: 20px;
    padding: 0px 8px;
}
/*FONTES*/
.contato  li{
    padding: 8px 0px;
    font-size: 17px;
    font-family:'Roboto', sans-serif ;
    color: #ffffff;
    font-weight: 100;
    list-style: none;
}
.contato ul{
    margin-top: -10px;
    margin-left: -40px;
}

/*TITULO*/
.redes-sociais h3{
    font-size: 24px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
/*ICONES*/
.redes-sociais img{
    width: 20px;
    padding: 0px 8px;
}
/*FONTES*/
.redes-sociais  li{
    padding: 8px 0px;
    font-size: 17px;
    font-family:'Roboto', sans-serif ;
    color: #ffffff;
    font-weight: 100;
    list-style: none;
}
.redes-sociais{
    display: flex;
    width: 23%;
    flex-direction: column;
    justify-content: flex-end;
}
.redes-sociais ul{
    margin-top: -10px;
    margin-left: -40px; 
}

