

/*estilos gerais*/
body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.flex{
    display: flex;
    flex-direction: row;
    
}

.limite{
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 10px 6%;
}


/*Cabeçalho*/
.logo{
    display: flex;
    width: 90%;
    align-items: center;
    margin-top: -18px ;
    
}
.logo h1{
  
    color: blueviolet;
    font-size: 25px;
    font-weight: 100;
}
.logo img{
    width: 30px;
    height: 30px;
    padding: 0px 20px;
}
 

/*topo*/

.background{
    background-image: url('../imagens/bahia.jpg');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    
}
.topo{
    width: 100%;
    height: 100vh;
}
 /*Subtitulo do formulario*/
 .subtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4vh;
    gap: 20px;
    
    background-color: blueviolet;
 }
.subtitulo img{
    width: 25px; 
}

.subtitulo h2{
    font-size: 17px;
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
    text-shadow: 0px 1px rgb(63, 53, 53);
}

/*Formulario*/
.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    height: 90%;
    margin: 80px auto;
    background-color: #ffffff;
 }

 .conteudo-formulario{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    
 }
.conteudo-formulario h2{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Heebo', sans-serif;
    color: #000000;
    padding: 0px 20px;
}

    
label{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Heebo', sans-serif;
    color: #0a0808b9;
    padding: 5px 0px;
}
input{
    width: 100%;
    height: 35px;;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    font-family: 'Heebo', sans-serif;
}
form div{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}
.flex2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
    margin-top: -10px;
   
}

.flex2 input{
    font-family: 'Heebo', sans-serif;
    width: 500px;
    height: 35px;
    margin-left: -16px;
   
}
.flex2 select{
    max-width: 500px;
    width: 500px;
    font-family: 'Heebo', sans-serif;
    margin-left: -16px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 5px;
}
.flex2 label{
    margin-left: -15px;
    font-size: 20px;
    font-weight: 100;
    color: #0a0808b9;
    font-family: 'Heebo', sans-serif;
    

}
div p{
    font-size: 20px;
    margin-top: 5px;
    font-weight: 100;
    color: #0a0808b9;
    font-family: 'Heebo', sans-serif;
   
}
.flex3{
    display: flex;
    flex-direction: row-reverse;
    width: 120px;
    gap: 10px;
    margin-top: -35px;
}
.flex3 input{
    width: 15px;
    margin-left: 18px;
    height: 32px;
    
    
}
.flex3 label{
    margin-left: -8px;
    margin-top: 0px;
    font-size: 17px;
    font-weight: 100;
    color: #0a0808b9;
    font-family: 'Heebo', sans-serif;
}
.flex4{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: -39px;
    margin-top: -35px;
    justify-content: space-evenly;
    
}
.flex4 input{
    width: 18px;
    margin-left: -10px;
    
    
    
   
   
}
.flex4 label{
    margin-left: -40px;
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: #0a0808b9;
      
}
/*botao*/

.botao{
    width: 190px;
    padding-top: 15px;
   
}

.botao button {
    background-color: blueviolet;
    width: 190px;
    height: 35px;
    color: #f0f8ff;
    font-size: 17px;
    font-family: 'Heebo', sans-serif;
    border: none;
    
    transition: 0.5s;
}
.botao button:hover{
    background-color: rgb(80, 31, 126);
    cursor: pointer;
    box-shadow:0px 1px 5px 0px black ;
}

/*Conteudo ofertas*/
main{
    margin-top: -30px;
}
.titulo-conteudo h3{
    font-size: 24px;
}

.titulo-conteudo p{
  color: black;
  margin-top: -10px;
  font-size: 17px;
    
}

.container-rj{
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: flex-start;
}
.rjimg img{
    width: 560px;
    height: 410px;
    margin-top: -10px;
   
} 
.container-rj small{
    position: relative;
    bottom: 28px;
    padding: 0px 10px;
    font-size: 20px;
    display: flex;
    width: 538px;
    font-weight: 200;
    color: white;
    background-color:  #0f0e0eb9;
}
.container-img{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}  
    

.container-img img{
    width: 240px;
    padding: 10px;
    margin: 0 auto;
    height: 180px;
}
    
.container-img small{
    position: relative;
    bottom: 38px;
    left: 10px;
    display: flex;
    width: 220px;
    font-size: 20px;
    padding: 0px 10px;
    font-weight: 200;
    color: white;
    background-color:  #0f0e0eb9;
}